<template name="addMed">
<!--   <div class="jumbotron"> -->
  <header class="bar bar-nav">
    <h3 class="title">{{pageName}}</h3>
  </header>
<!--   </div>   -->
<div>
  <ul class="table-view">
    <li class="table-view-cell">
      <a class="navigate-left" align="left" href="/metrics">
          &nbsp;&nbsp;&nbsp;&nbsp;Back
      </a>
    </li>
    </ul>
  </div>
<!--     {{#autoForm collection=meds schema=medTrackDataSchema doc=user id="addMedForm" type="insert"}} -->
<!--     {{#autoForm collection="Meds" id="addMedForm" type="insert"}} -->
<!--     <fieldset> -->
<!--       {{> afQuickField name='medName' id="medSelect2" schema="MedsSchema"}} -->
<!--       {{> afQuickField name='availableStrengths' id="doseSelect2" schema="MedsSchema"}} -->
<!--       {{> quickForm id="medSelect" collection="Meds"}} -->
<!--       <legend>Update Weight</legend> -->
<!--       {{> afFieldInput name="medName" multiple=false}} -->
<!--       {{> afObjectField name='profile.medTrackData.0'}} -->
<!--       {{> afQuickField name = 'profile.meds'}} -->
<!--       {{> afQuickField name="comments"}} -->
<!--     </fieldset> -->
<!--     <input class="form-control typeahead" name="medicine" type="text"
       placeholder="Search and Select Medicine"
       autocomplete="off" spellcheck="off"
       data-source="medsDataSource" data-template="medDetails"/>
   -->
<form>
  {{> inputAutocomplete settings=medSettings id="medChoice" placeholder="Search Medicine"}}
  <select id="strengthSelect" name="strengthSelect" class="input-small">
    {{#each strengths}}  
    <option value={{strength}}>{{strength}} {{measureUnit}}</option>
    {{/each}}
  </select>
  <h3>Selected Medicine:</h3><h4>{{$.Session.get 'selectedMedName'}} {{$.Session.get 'selectedStrength'}}{{measureUnit}}</h4>
  <br>
  <h2>Dose</h2>
  <p>Morning</p>
  <div class="input-group input-group-sm">
    <input type="number" id="mornValue" class="input-mini" min="0" size="2">
<!--     <span class="input-group-addon">in the morning</span> -->
  </div>
    <p>Midday</p>
    <div class="input-group input-group-sm">
    <input type="number" id="midDayValue" class="input-mini" min="0" size="2">
<!--     <span class="input-group-addon">in the morning</span> -->
  </div>
    <p>Evening</p>
    <div class="input-group input-group-sm">
    <input type="number" id="eveValue" class="input-mini" min="0" size="2">
<!--     <span class="input-group-addon">in the morning</span> -->
  </div>
    <p>Night</p>
    <div class="input-group input-group-sm">
    <input type="number" id="nightValue" class="input-mini" min="0" size="2">
<!--     <span class="input-group-addon">in the morning</span> -->
  </div>
    
  <a id="medSelectBtn" class="btn btn-primary" align="center">Select</a>
<!--     {{/autoForm}} -->
  </form> 
</template>

