<template name="metrics">
  <div class="jumbotron">
    <h3>Metrics</h3>
  </div>

    <ul class="table-view">
      <li class="table-view-cell">
        <a class="navigate-right" href="/updateWeight">
          Update Weight
        </a>
    </li>

      <li class="table-view-cell">
        <a class="navigate-right" href="/updateBp">
          Update Blood Pressure
        </a>
    </li>
    
      <li class="table-view-cell">
        <a class="navigate-right">
          Update Blood sugar
        </a>
    </li>
    </ul>

</template>