<template name="metrics">
  <div class="jumbotron">
    <h3>Metrics</h3>
  </div>

    <ul class="table-view">
      <li class="table-view-divider">Update Metrics</li>
      <li class="table-view-cell">
        <a class="navigate-right" href={{pathFor 'updateWeight'}}>
          Update Weight
        </a>
    </li>

      <li class="table-view-cell">
        <a class="navigate-right" href={{pathFor 'updateBp'}}>
          Update Blood Pressure
        </a>
    </li>
    
      <li class="table-view-cell">
        <a class="navigate-right" href={{pathFor 'updateBloodsugar'}}>
          Update Blood sugar
        </a>
    </li>
      <li class="table-view-divider">Metric History</li>
      <li class="table-view-cell">
        <a class="navigate-right" href="/weightHistory">
          Weight
        </a>
    </li>
      <li class="table-view-cell">
        <a class="navigate-right">
          Blood Pressure
        </a>
    </li>
      <li class="table-view-cell">
        <a class="navigate-right">
          Blood Sugar
        </a>
      </li>
    </ul>

</template>