<template name="profile">
    <div class="jumbotron">
    <h3>Profile</h3>
  </div>
  
  <div class="content-padded">
    <h3>Name: {{firstName}} {{lastName}}</h3>
    <h3>Age: {{age}}</h3>
    {{#if gender}}
    <h3>Gender: {{gender}}</h3>
    {{else}}
    <h3>Gender: <a href="/updateProfile">Update gender</a></h3>
      {{/if}}
    {{#if height}}
    <h3>Height: {{height}} Metres</h3>
    {{else}}
    <h3>Height: <a href="/updateProfile">Update height</a></h3>
      {{/if}}
    {{#if latestWeight}}
    <h3>Latest Weight: {{latestWeight}} KG</h3>
    {{else}}
    <h3>Latest Weight: <a href="/updateWeight">Update weight</a></h3>
      {{/if}}
    <h3>BMI: {{showBmi}}</h3>

    <div>
      <a href="/updateProfile" class="btn btn-primary">Modify profile</a>

    </div>
  
  </div>

  
</template>