<template name="updateProfile">
<!--  <header class="bar bar-nav">
    <h3 class="title">{{pageName}}</h3>
  </header> -->
    {{> titleBar pageName="Update Profile" backButton=1}}
<!--    <div>
  <ul class="table-view">
    <li class="table-view-cell">
      <a class="navigate-left" align="left" href="/profile">
          &nbsp;&nbsp;&nbsp;&nbsp;Back
      </a>
    </li>
    </ul>
  </div> -->
  <div class = "content">
    {{#autoForm collection=users doc=user id="updateProfileForm" type="update"}}
<!--     <fieldset> -->
<!--       <legend>Update Weight</legend> -->
<!--       {{> afQuickField name='email'}} -->
      {{> afObjectField name='profile'}}
<!--       {{> afQuickField name="comments"}} -->
<!--     </fieldset> -->
    <button type="submit" class="btn btn-primary">Update</button>
    {{/autoForm}}
  <br>
  <br>
  <br>
  <br>
  </div>

</template>

