<template name="firstPage">
  <div>
  <div class="jumbotron">
    <h3>quantifiedCrowd</h3>

  </div>
  <div>
<!--       <p>Welcome to quantifiedCrowd</p> -->
<!--     <a href="#">Sign up</a> -->
<!--     <form class="input-group">
  <input type="email" placeholder="Email">
  <input type="password" placeholder="Password">
      <br>
      <button class="btn btn-primary">Log in</button>
</form> -->
<!--     {{> loginButtons}} -->
<!--     {{> loginForm}}
     -->
    
<!--     <button class="btn btn-positive btn-outlined">Sign up</button>
  </div>
 -->
    {{> atForm}}
<!--     {{> alert}}
    {{#unless resetPassword}}
        {{#unless currentUser}}
            {{#unless showForgotPassword}}
                {{> logIn}}
                {{> signUp}}
            {{else}}
                {{> forgotPassword}}
            {{/unless}}
        {{else}}
            {{> logOut}}
        {{/unless}}
    {{else}}
        {{> resetPassword}}
    {{/unless}} -->
  </div>
  </div>
</template> 