<template name="index">
  <div>
  <div class="jumbotron">
    <h3>QuantifiedCrowd</h3>

  </div>
  <div>
    
    <div align="center" class="content-padded">
      <h1 class="hello">Hello</h1>
      <p>
        <a href="/sign-in" class="btn btn-primary btn-block">
          Login
        </a>
      </p>
      <h4>Don't have an account? <a href="/sign-up">Sign up</a></h4>
    </div>
    
<!--       <p>Welcome to quantifiedCrowd</p> -->
<!--     <a href="#">Sign up</a> -->
<!--     <form class="input-group">
  <input type="email" placeholder="Email">
  <input type="password" placeholder="Password">
      <br>
      <button class="btn btn-primary">Log in</button>
</form> -->
<!--     {{> loginButtons}} -->
<!--     {{> loginForm}}
     -->
    
<!--     <button class="btn btn-positive btn-outlined">Sign up</button>
  </div>
 -->
<!--     {{> atForm}} -->
<!--     {{> alert}}
    {{#unless resetPassword}}
        {{#unless currentUser}}
            {{#unless showForgotPassword}}
                {{> logIn}}
                {{> signUp}}
            {{else}}
                {{> forgotPassword}}
            {{/unless}}
        {{else}}
            {{> logOut}}
        {{/unless}}
    {{else}}
        {{> resetPassword}}
    {{/unless}} -->
  </div>
  </div>
</template> 