<!-- some of the code below is derived from the tutorial @ http://www.meteortuts.com/video/calendarappl -->
<template name="healthCal">
  {{> titleBar pageName="HealthCal"}}
  
  <div class = "content-padded">
    {{> calendar}}
  </div>
</template>

<template name="calendar">
<!--   {{> editEventDialog}} -->
  <div id="calendar">
  </div>
</template>




<template name="editEventDialog">
<!--   <div id="editEvtModal" class="modal"> -->
    <header class="bar bar-nav">
      <a class="icon icon-left-nav pull-left" href="{{pathFor 'healthCal'}}"></a>
      <a class="icon icon-close pull-right push-right navigate-right" href="{{pathFor 'healthCal'}}"></a>
      <h1 class="title">Edit Event</h1>
    </header>

    <div class="content">
      <div class="form-group">
        <h3>{{start}} - {{end}}</h3>
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Enter a Title" value="{{title}}" >
        
      </div>
            <button type="button" class="btn btn-default closeDialog" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary updateTitle">Save</button>

    </div>
<!--   </div> -->
</template>