<template name="resetPassword">
    <div class="reset-password">
      <p>Type and confirm your new password in order to access your account</p>
      
      <form action="/reset-password" class="input-group" id="resetPwdForm" method="post">
      <input type="password" id="resetPwdPwd" placeholder="New Password" name="pwd">
        <input type="password" id="confirmResetPwdPwd" placeholder="Confirm New Password" name="pwd-confirm">
      <input type="submit" id="resetPwdBtn" class="btn btn-primary btn-outlined" value="Reset" />
    </form>
      
  </div>
</template>