<template name="signUp">
    <div class="sign-up">
         <form action="/sign-up" class="input-group" id="signup-form" method="post">
  <input type="email" id="signup-email" placeholder="Email Address" name="email">
  <input type="password" id="signup-pwd" placeholder="Password" name="password">
    <input type="password" id="signup-pwd-confirm" placeholder="Confirm Password" name="confirm-password">         
      <input type="submit" id="login-btn" class="btn btn-primary btn-outlined" value="Sign up" />
</form>
    </div>
</template>