<template name="metrics">
 <header class="bar bar-nav">
    <h3 class="title">{{pageName}}</h3>
  </header>
<div class="content">
    <div class="content-padded">
    <ul class="table-view">
      <li class="table-view-divider">Update Metrics</li>
      <li class="table-view-cell">
        <a class="navigate-right" href={{pathFor 'updateWeight'}}>
          Update Weight
        </a>
    </li>
      <li class="table-view-cell">
        <a class="navigate-right" href={{pathFor 'updateActivity'}}>
          Add Activity
        </a>
    </li>
      <li class="table-view-cell">
        <a class="navigate-right" href={{pathFor 'updateBp'}}>
          Update Blood Pressure
        </a>
    </li>
    
      <li class="table-view-cell">
        <a class="navigate-right" href={{pathFor 'updateBloodsugar'}}>
          Update Blood sugar
        </a>
    </li>
      <li class="table-view-divider">Metric History</li>
      <li class="table-view-cell">
        <a class="navigate-right" href="/weightHistory">
          Weight
        </a>
    </li>
      <li class="table-view-cell">
        <a class="navigate-right" href={{pathFor 'activityHistory'}}>
          Activity
        </a>
    </li>
      <li class="table-view-cell">
        <a class="navigate-right" href={{pathFor 'bpHistory'}}>
          Blood Pressure
        </a>
    </li>
      <li class="table-view-cell">
        <a class="navigate-right" href={{pathFor 'bloodSugarHistory'}}>
          Blood Sugar
        </a>
      </li>
    </ul>
  </div>
  </div>
  
</template>