<template name="updateBp">
  <div class="jumbotron">
    <h3>Update Blood Pressure</h3>
  </div>  
  <div>
  <ul class="table-view">
    <li class="table-view-cell">
      <a class="navigate-left" align="left" href="/metrics">
          &nbsp;&nbsp;&nbsp;&nbsp;Back
      </a>
    </li>
    </ul>
  </div>
    {{#autoForm collection="BloodPressure" id="updateBloodPressure" type="insert"}}
    <fieldset>
<!--       <legend>Update Weight</legend> -->
      {{> afQuickField name="bloodpressure"}}
      {{> afQuickField name="comments"}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Update</button>
    {{/autoForm}}
 
</template>