<template name="updateBloodsugar">
 <header class="bar bar-nav">
    <h3 class="title">{{pageName}}</h3>
  </header>
<div>
  <ul class="table-view">
    <li class="table-view-cell">
      <a class="navigate-left" align="left" href="/metrics">
          &nbsp;&nbsp;&nbsp;&nbsp;Back
      </a>
    </li>
    </ul>
  </div>
    {{#autoForm collection="BloodSugar" id="updateBloodSugar" type="insert"}}
    <fieldset>
<!--       <legend>Update Weight</legend> -->
      {{> afQuickField name="bloodsugar"}}
      {{> afQuickField name="comments"}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Update</button>
    {{/autoForm}}
 
</template>