<template name="updateActivity">
<!--  <header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left" href="{{pathFor getPreviousPage}}"></a>
    <h3 class="title">{{pageName}}</h3>
  </header> -->
  {{> titleBar pageName="Update Activity" backButton=1}}
  <div class="content">
    <div class="content-padded">
<!--   <div>
  <ul class="table-view">
    <li class="table-view-cell">
      <a class="navigate-left" align="left" href="{{pathFor getPreviousPage}}">
          &nbsp;&nbsp;&nbsp;&nbsp;Back
      </a>
    </li>
    </ul>
  </div> -->
<!--     {{#autoForm collection="Weights" id="updateWeight" type="insert"}} -->
      {{#autoForm collection="Activities" id="updateActivity" type="insert"}}
    <fieldset>
<!--       <legend>Update Weight</legend> -->
      {{> afQuickField name="activityDate"}}
      {{> afQuickField name="activityHours"}}
      {{> afQuickField name="tags"}}
      {{> afQuickField name="comments"}}
    </fieldset>
    <button type="submit" class="btn btn-primary btn-block">Add</button>
    {{/autoForm}}
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</template>