<template name="bottomNavbar">
<!--   <header class="bar bar-nav">
    <h1 class="title">quantifiedCrowd</h1>
  </header> -->
  <nav class="bar bar-tab">
<!--   <a class="tab-item active" href="/">
    <span class="icon icon-home"></span>
    <span class="tab-label">Home</span>
  </a> -->
  <a class="tab-item" href="{{pathFor 'profile'}}">
    <span class="icon icon-person"></span>
    <span class="tab-label">Profile</span>
  </a>
  <a class="tab-item" href="{{pathFor 'metrics'}}" data-transition="slide-in">
    <span class="icon icon-edit"></span>
    <span class="tab-label">Metrics</span>
  </a>
  <a class="tab-item" href="{{pathFor 'healthCal'}}">
    <span class="icon icon-check"></span>
    <span class="tab-label">HealthCal</span>
  </a>
  <a class="tab-item" href="/sign-out">
    <span class="icon icon-close"></span>
    <span class="tab-label">Sign out</span>
  </a>
</nav>
</template>